<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <style>
        progress[value]::-webkit-progress-bar {
        background-color: #f00;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }
        tr:nth-child(even) {background: #CCC}
	    tr:nth-child(odd) {background: #FFF}
    </style>
    <script type="text/javascript" src="http://tablesorter.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>
    <script type="text/javascript" id="js">$(document).ready(function() {
        // call the tablesorter plugin
        $("table").tablesorter({
            // sort on the first column and third column, order asc
            sortList: [[0,0],[2,0]]
        });
    }); </script>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Poblacio</th>
                <th>Residential No Name(m)</th>
                <th>Num Residential No Name</th>
                <th>Living Street No Name(m)</th>
                <th>Num Living Street No Name</th>
                <th>Total No Name(m)</th>
                <th>Total (Residential + Living street)</th>
                <th>Percentatge Restant</th>
                <th>Resta</th>
            </tr>
        </thead>
        <tbody>
        {% for poble,line in data.items() %}
            <tr>
                <td>{{poble}}</td>
                <td>{{'%.0f' | format(line.len_noname_residential)}}</td>
                <td>{{'%.0f' | format(line.count_noname_residential)}}</td>
                <td>{{'%.0f' | format(line.len_noname_livingstreet)}}</td>
                <td>{{'%.0f' | format(line.count_noname_livingstreet)}}</td>
                <td>{{'%.0f' | format((line.len_noname_residential) + (line.len_noname_livingstreet ))}}</td>
                <td>{{'%.0f' | format(line.len_residential_total + line.len_livingstreet_total)}}</td>
                {% if (line.len_residential_total + line.len_livingstreet_total ) > 0 %}
                    <td>{{'%.1f%%' | format( (100/(line.len_residential_total + line.len_livingstreet_total))* (line.len_noname_livingstreet+line.len_noname_residential) )}}</td>
                {%else%}
                    <td>0%</td>
                {% endif %}

                {% if (line.len_residential_total+  line.len_livingstreet_total) > 0 %}
                <td><progress value="{{((line.len_noname_residential + (line.len_noname_livingstreet))/(line.len_residential_total + (line.len_livingstreet_total ) ))*100}}" max="100"></progress></td>
                {% else %}
                <td><progress value="0" max="100"></progress></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
